<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<script src="//code.jquery.com/jquery-1.12.3.js"></script> 
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/client.css"/>
    <title>
        Welcome to the Experiment - Powered by Turk Expert v0.1.0
    </title>
</head>

<body>

<% if(!auth){ %>
	<!--Auth form -->
	<div class="form-group col-xs-4 col-xs-offset-4 centered">
		<form method='post' action='validateCode' class='form-horizontal'>
			<label>Please enter an access code to work on this HIT</label> 
			<input class="form-control" name="accessCode" size="25" type="text" />
			<input class="form-control" name="accessType" size="25" type="text" value="<%= e.type %>" style="display:none;"/>
			<input class="form-control" name="accessContent" size="25" type="text" value="<%= e.content %>" style="display:none;"/>
			<input class="form-control" name="accessObj[wid]" size="25" type="text" value="<%= e.obj.wid %>" style="display:none;"/>
			<input class="form-control" name="accessObj[hid]" size="25" type="text" value="<%= e.obj.hid %>" style="display:none;"/>
			<% if(e.code === 403){ %> 
			<p class="authFeedback">This access code is incorrect!</p> 
			<% } %>
			<div class="centered">
				<!--<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">-->
				<button class="btn btn-lg btn-primary" type="submit">Submit</button>
			</div>
		</form>
	</div>
 <% } else{ %>  

	<% if(e.firstTimeUser && e.firstTimeUser != 'shared'){ %>
	<!-- if e.firstTImeUser === 'Treament' .... all 5 tempaltes -->
	<!-- This modal should pop up if a Worker successfully enters an access code, but we never sent it to them -->
	<form id="First-User-Form" action="firstUser" method="POST">
	<div class="popup" data-keyboard="false" data-backdrop="static" id="preHITSurvey">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">How did you learn about the access code for this HIT?</h4>
				</div>
				<div class="modal-body">
					<div class="radio">
					<label><input required="" type="radio" name="sharedSource[personal]" value="personal">Personal communication with another Turker</label>
					</div>
					<div class="radio">
					<label><input required= "" type="radio" name="sharedSource[forum]" value="forum">I saw the access code posted online</label>
					</div>
					<div class="input-group" style="margin-left: 3em">Please enter the name of the forum, group or website where you saw the access code posted: 
					<input name="sharedSource[whichForum]" size="1" style="height: 1.5em; width: 5em" type="text" /></div>
					<input class="form-control" name="accessContent" size="25" type="text" value="<%= e.content %>" style="display:none;"/>
					<input class="form-control" name="accessObj" size="25" type="text" value="<%= e.obj %>" style="display:none;"/>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Proceed</button> 
				</div>
			</div>
		</div>
	</div>
	</form>
	<% } else { %>

	<!-- Main HIT Content -->

	<form id="HIT-Form" action="mturk/externalSubmit" method="POST">
	<div class="col-xs-4 col-xs-offset-4">
		<div>
			<img alt="image_url" class="imagecontainer" src="images/<%= e.content %>.jpeg" />
		</div>
		<div class="form-group centered">
			<label>Please provide a label for this image</label> <input class="form-control" name="imageLabel" size="25" type="text" />
		</div>
		<div class="centered">
			<input type="submit" id="submitButton" class="btn btn-lg btn-primary" value= "Submit">
		</div>
	</div>
	</form>


	<script>
	    var turkSubmitTo = window.location.href.split('turkSubmitTo=')[1];
			if(turkSubmitTo){
				//alert('turkSubmitTo='+ turkSubmitTo);
				document.getElementById("HIT-Form").action = turkSubmitTo+"/mturk/externalSubmit";
			}
	</script>


	<% } %>


<% } %>




</body>

</html>

